# Entorno virtual Python
env/

# Archivos de entorno y secretos
*.env

# Base de datos local de desarrollo
*.sqlite3

# Caché y compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Migraciones compiladas
backend_django/*/migrations/*.pyc
backend_django/*/migrations/__pycache__/

# Archivos de logs
*.log

# Archivos de cobertura de tests
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# Archivos de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ignorar node modules de backend (django templates)
node_modules/

# ignorar archivos de SASS compilados, porque se generan automaticamente y no es necesario versionarlos
*.css.map