$azul-primario: #2c3484; // para el header y botones, o tablas

$muted: #6b7280 !default;
$accent: #111827 !default;
$border: #e5e7eb !default;
$bg: #ffffff !default;
$juego-titulo-max-width: 340px !default;
$foto-max-width: 80px !default;

$fuente-principal: 'Montserrat', sans-serif;