{% load static %}
<!-- load static, necesario para el uso de archivos estáticos en Django (css, js, img...etc) -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<header class="header-vertical">
    <h1>GameHaven</h1>
    <nav class="nav-vertical">
        <a href="#" class="nav-link">Dashboard</a>
        <a href="#" class="nav-link">Usuarios</a>
        <a href="#" class="nav-link">Juegos</a>
        <a href="#" class="nav-link">Ajustes</a>
    </nav>
    <div class="logout-link-container">
        <a href="#" class="nav-link logout-link">Cerrar sesión</a>
    </div>
</header>