{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="modal-eliminar">
    <div class="modal-eliminar-blur"></div>
    <div class="modal-eliminar-content">
        <h2 class="h2-modal-eliminar">Confirmar eliminación</h2>
        <p class="texto-modal">¿Estás seguro de que deseas eliminar este elemento?</p>
        <div class="modal-eliminar-buttons">
            <button class="btn-eliminar-modal" id="confirmarEliminar">Eliminar</button>
            <button class="btn-cancelar-modal">Cancelar</button>
        </div>
    </div>
</div>